@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif; 
}

body, html {
    background-color: lightgrey;
}

header {
    background-color: rgb(158, 3, 3);
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.789);
}

i#burguer {
    background-color: rgb(215, 31, 31);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-shadow: 3px 3px 5px black;
    font-size: 2em;
}

i#burguer:hover {
    background-color: rgb(109, 19, 19);
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
    text-shadow: 2px 2px 2px black;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(87, 87, 87);
    color: white;
    text-align: center;
    border-top: 2px solid rgb(53, 52, 52);
}

menu > ul > li > a:hover {
    background-color: rgb(68, 68, 68);
}

main {
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px; 
    background-color: white;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}